@import "/css/imports/variables.css";
@import "/css/imports/buttons.css";

html {
  font-size: 100%;
}

html,
body {
  height: 100vh;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: var(--text-paragraph);
  font-size: calc(16px + 0.3vw);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-main);
}

h1,
h2,
h3 {
  font-family: var(--text-heading), sans-serif, Verdana, Geneva, Tahoma,
    sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*Theme layout*/

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

/*nav*/

.logo {
  font-family: var(--text-heading);
  font-weight: bold;
  font-size: 2rem;
  gap: 1.3rem;
  display: flex;
  height: 6vh;
  align-items: flex-start;
}

.logo img {
  width: auto;
  height: 100%;
}

nav ul {
  display: flex;
  gap: 2rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

header h1 {
  margin: 0px;
}

.nav-links {
  display: flex;
  height: 2rem;
  width: auto;
  align-items: center;
}

.nav-links img {
  height: 100%;
  width: 100%;
  margin-left: 2rem;
}

.nav-links a {
  color: inherit;
}

.active {
  text-decoration: underline;
}

/*footer*/

footer {
  text-align: center;
  color: white;
  background-color: var(--color-text);
  padding: 2rem;
}

footer p {
  margin: 0px;
}
