@media screen and (max-width: 600px) {
  header {
    justify-content: center;
    gap: 1rem;
  }

  .reverse {
    flex-direction: row;
  }
  .hero {
    display: block;
  }

  .hero-button {
    margin-top: 1rem;
  }

  .hero-image {
    display: none;
  }

  .hero-products {
    padding: 0px 2rem;
    width: 100%;
  }

  .about {
    padding: 7rem 3rem;
  }

  .about-content {
    width: 75vw;
  }

  .range-container {
    gap: 5rem;
  }

  .range-item {
    gap: 2rem;
  }

  .range-content p {
    max-width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .cart {
    display: none;
  }
}
