:root {
  --text-heading: "Libre Baskerville";
  --text-button: "Source Sans Pro";
  --text-paragraph: "Open Sans";
  /* --color-nav-links: #f5b736; */
  --color-text: #2e3b3a;
  --color-main: #f8e5db;
  --color-light-green: #718584;
}
